@{
    ViewData["Title"] = "Book Store";
}

@model BookList

<div>
    <!--Alert for price policy-->
    <!--<div class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>Note!</strong> Are prices are final.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>-->

    <!--A table listing the books-->
    <table class="table table-sm table-striped">
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Author</th>
                <th scope="col">Publisher</th>
                <th scope="col">ISBN</th>
                <th scope="col">Classification</th>
                <th scope="col">Category</th>
                <th scope="col">Number of Pages</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <!--Display every book in the database-->
            @foreach (var item in Model.Books)
            {
                <partial name="BookSummary" model="item" />
            }
        </tbody>
    </table>
    <div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-selected="btn-primary"
         page-class-normal="btn-outline-dark" page-url-category="@Model.Category" class="btn-group pull-right  m-1"></div>
</div>
