@model IEnumerable<string>

<div class="card">
    <div class="card-header">
        <h6>Categories</h6>
    </div>
    <div class="card-body">
        <a class="btn btn-sm btn-block btn-outline-secondary" asp-action="Index" asp-controller="Home" asp-route-category="">
            All
        </a>

        @foreach (string category in Model)
        {
            <a class="btn btn-sm btn-block @(category == ViewBag.SelectedType ? "btn-primary" : "btn-outline-secondary")"
               asp-action="Index" asp-controller="Home" asp-route-category="@category"
               asp-route-pageNum="1">
                @category
            </a>
        }
    </div>
</div>